<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>国乐书法网站后台管理系统</title>

    <!-- Bootstrap -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../static/build/css/custom.min.css" rel="stylesheet">
    <style>
        .tit {
            text-align:center;
            position: relative;
            top: 100px;
        }
        .login_wrapper {
            display: block;
            position: relative;
        }
        .form {
            position: absolute;
            top: 50%;
            transform: translateY(50%);
        }
    </style>
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <h1 class="tit"> 国乐书法网站后台管理系统</h1>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>登录</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="用户名" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="密码" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="../index.html"> &nbsp;登录&nbsp; </a>
                        <!-- <a class="reset_pass" href="#">忘记密码 ?</a> -->
                    </div>

                    <div class="clearfix"></div>


                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <p>©2018 Copyright 国乐书法网站后台管理系统</p>
                    </div>
        </div>
        </form>
        </section>
    </div>
</div>
</div>
</body>
</html>
